body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-body {
  background-color: #6d2b2b;
}

.card-title {
  color: #dfca99;
}

.card-subtitle {
  color: #fff;
}

.header-text {
  background-color: #52a1c7;
}

.navbar-light .navbar-brand {
  color: #fff;
}